* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #9073c3, #5375b5);
}

.container {
  width: 200px;
  min-height: 400px;
  background-color: rgba(160, 166, 209, 0.5);
  padding: 20px 20px;
  text-align: center;
  margin-top: 20px;
  border-radius: 5px;
}

h1 {
  color: white;
  padding-bottom: 30px;
  padding-top: 20px;
  font-size: 28px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.container p {
  padding-bottom: 30px;
  font-weight: 500;
  font-size: 16px;
  font-family: sans-serif;
}
.list {
  padding-bottom: 10px;
  padding-top: 5px;
  font-size: 16px;
  font-weight: 400;
  font-family: sans-serif;
}

.price {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 42px;
  font-weight: 600;
}
.button {
  background: #fffd38;
  padding: 10px 20px;
  border-radius: 3px;
}
.line {
  height: 2px;
  width: 160px;
  background-color: #7b7992;
  opacity: 0.4;
}

.flex-container {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.button:hover {
  cursor: pointer;
}
